html {
  color-scheme: light dark;
}
body {
    /* Set line height to 1.5 times the font size
         and use the OS’s UI font as the website font
       */
    font: 100%/1.5 system-ui;
    max-width: 100ch;
    margin-inline: auto;
    padding: 1rem;
  }
nav ul{
  display: contents;
}
nav ul li{
  display: contents;
}
nav {
  --border-color: oklch(50% 10% 200 / 40%);
  display: flex;
  margin-bottom: 1em;
  border-bottom: 1px solid oklch(80% 3% 200);
  border-bottom-color: var(--border-color);
}
nav a {
  flex: 1;
  text-decoration: none;
  color: inherit;
  text-align: center;
  padding: 0.5em;
}
nav a.current {
  border-bottom: 0.4em solid oklch(85% 3% 200);
  padding-bottom: 0.1rem;
}
:root {
  --color-accent: oklch(65% 50% 0);
  accent-color: var(--color-accent);
}
nav a:hover {
  border-bottom: 0.4em solid var(--color-accent);
  padding-bottom: 0.1rem;
  background-color: color-mix(in oklch, var(--color-accent), canvas 85%);
}
input {
  font: inherit;
}
textarea {
  font: inherit;
}
button {
  font: inherit;
}
form {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1em;
}
form label{
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1 / -1;
}
form button {
  grid-column: 1 / -1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr))
}
.projects article {
  grid-template-rows: subgrid;
  grid-row: span 3;
  gap: 1em;
}
.projects h2 {
  margin: 0;
}
h1 {
  font-size: 4rem;
  line-height: 1.1;
  text-wrap: balance;
}
h2, h3, h4, h5, h6 {
  line-height: 1.1;
  text-wrap: balance;
}
body.resume {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr))
}
body.resume nav, body.resume h1 {
  grid-template-columns: subgrid;
  grid-column: 1 / -1;
}
body.resume section.contact {
  grid-template-columns: subgrid;
  grid-column: 1;
}
body.resume section {
  grid-template-columns: subgrid;
  grid-column: 2 / -1;
}
label.color-scheme {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
label.color-scheme select {
  font: inherit;
  font-size: 80%;
}